        *{
            font-family: "Arial Narrow";
        }

        body{
            margin: auto;
            background-color: black;
        }
        #container{
            display: grid;
            grid-template: auto 80vh auto / 1fr 1fr 1fr 1fr;
            grid-template-areas: 'header header header header'
                                    'main main main main'
                                'footer footer footer footer';
            
        }
        header {
            grid-area: header;
            margin-left: 1%;
            margin-right: 1%;
            border-bottom: solid rgb(128, 0, 0);
            display: grid;
            grid-template: 16vh / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            align-content: center;
            justify-content: center;
            
        }
        main{ 
                grid-area: main;
        }
        footer{ 
            grid-area: footer;
            border-top: solid rgb(128, 0, 0);
            background-color: white;
            display:grid;
            width: 100%;
            grid-template: 10vh / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            justify-content: space-evenly;
            
            


        }
        #thieves_logo{
            height: 18vh;
        }
        #topnav a {
            color: rgb(128,0,0);
            justify-self:center;
            align-self: center;
            text-decoration: none;
            font-size: 3vh;
            font-weight: bold;
        }
        #topnav input{
            justify-self: center;
            align-self: center;
            border-radius: 8px;
            height: 3vh;
            width: 15vw;
        }
        #topnav a:hover{
            background-color: rgb(128,0,0);
            color: white;
        }

        #botnav a{
            color: rgb(128,0,0);
            justify-self: center;
            align-self: center;
            text-decoration: none;
            font-size: 3vh;
            font-weight: bold;
            text-align: right;

        }
        #twitter_logo{
            height: 75%;
            align-self: center;
            
        }
        #insta_logo{
            height: 80%;
            align-self: center;
        
        }
        #youtube_logo{
            height: 100%;
            align-self: center;
        
        }

        .socials{
            width: 10vw;
            grid-column: 8;
            justify-self: right;
            height: 5vh;
            align-self: center;
        }
        .footer_links{
            width: 10vw;
            height: 5vh;

        }

        .bodyGIF{
            height: 30vh;
        }


        /* .box_item1{                
            width: 70%;
            height: 80%;
            border: solid white;
            
        }
        .box_item2
        {
            height: 80%;
            width: 30%;
            border: solid white;
        }
        #flexcontainer{
            display: flex;
            
        }


        #logo_container{
            height: 150px;
        }


        */

        @media screen and (max-width: 1024px) {
            #topnav a{
                
                font-size: 2vh;
                
            }

            #botnav a{
            
                font-size: 2vh;
                    
            }

            .socials{
                width: 8vw;              
                height: 3vh;
                
            }

        }
        @media screen and (max-width: 768px) {
            #topnav a{
                
                font-size: 2vh;
                
            }

            #botnav a{
            
                font-size: 2vh;
                    
            }

            .socials{
                width: 8vw;              
                height: 3vh;
                columns: 7;
                
            }

            #thieves_logo{
                height: 12vh;
                
            }

            header{
                grid-template: 12vh / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }